In [1]:
import pandas as pd

In [2]:
# pd.options.display.max_rows = 4000

In [3]:
df = pd.read_csv("data/tb_lobby_stats_player.csv", sep=",")

In [4]:
df.head(10)

,idLobbyGame,idPlayer,idRoom,qtKill,qtAssist,qtDeath,qtHs,qtBombeDefuse,qtBombePlant,qtTk,...,qtFlashAssist,qtHitHeadshot,qtHitChest,qtHitStomach,qtHitLeftAtm,qtHitRightArm,qtHitLeftLeg,qtHitRightLeg,flWinner,dtCreatedAt
0,1,1,1,5,1,16,2,0,0,0.0,...,0.0,3.0,13.0,4.0,2.0,2.0,1.0,0.0,0,2022-01-21 19:45:44
1,2,1,2,24,3,18,6,0,4,0.0,...,0.0,7.0,26.0,14.0,2.0,1.0,1.0,3.0,1,2022-02-04 02:09:47
2,3,2,3,6,4,23,2,0,1,0.0,...,0.0,3.0,15.0,8.0,1.0,2.0,0.0,2.0,0,2021-09-18 18:07:43
3,3,391,27508,10,5,20,4,1,0,0.0,...,0.0,6.0,27.0,10.0,1.0,7.0,6.0,6.0,1,2021-09-18 18:07:43
4,4,2,4,8,4,26,6,0,2,0.0,...,2.0,8.0,19.0,12.0,2.0,3.0,2.0,5.0,0,2021-09-27 00:17:45
5,5,2,5,10,1,11,5,0,3,0.0,...,1.0,5.0,6.0,8.0,0.0,0.0,3.0,0.0,1,2021-09-29 22:05:47
6,5,1068,69976,9,2,19,4,1,0,0.0,...,1.0,6.0,21.0,14.0,3.0,4.0,2.0,2.0,0,2021-09-29 22:05:47
7,6,2,6,16,1,23,9,0,1,0.0,...,1.0,9.0,21.0,19.0,3.0,4.0,2.0,3.0,0,2021-10-07 22:48:43
8,7,2,7,11,2,19,2,0,1,0.0,...,1.0,5.0,17.0,12.0,0.0,4.0,0.0,2.0,0,2021-10-08 23:29:57
9,8,2,8,8,6,13,2,0,0,0.0,...,0.0,3.0,9.0,17.0,2.0,5.0,7.0,8.0,0,2021-10-12 16:48:09

## Numero de Players

In [5]:
players = df["idPlayer"]
type(players)
players.drop_duplicates(inplace=True)
players.count()

2469

## Mapas mais jogados

In [6]:
df["descMapName"].value_counts(normalize=True)

de_mirage      0.315506
de_inferno     0.228469
de_dust2       0.129426
de_vertigo     0.108193
de_overpass    0.076502
de_nuke        0.076312
de_train       0.042606
de_ancient     0.022986
Name: descMapName, dtype: float64

## Mapas mais jogados por NÃ­vel

In [7]:
df["vlLevel"]

0         10
1          9
2          2
3         15
4          2
          ..
184147     9
184148     9
184149     9
184150     9
184151     9
Name: vlLevel, Length: 184152, dtype: int64

In [8]:
df[["vlLevel", "descMapName"]]

        vlLevel descMapName
0            10   de_mirage
1             9     de_nuke
2             2   de_mirage
3            15   de_mirage
4             2     de_nuke
...         ...         ...
184147        9  de_vertigo
184148        9     de_nuke
184149        9  de_vertigo
184150        9    de_dust2
184151        9  de_inferno

[184152 rows x 2 columns]

In [9]:
df.groupby(["vlLevel", "descMapName"]).agg({"idLobbyGame": "count"})

                     idLobbyGame
vlLevel descMapName
0       de_ancient             8
        de_dust2             150
        de_inferno           232
        de_mirage            448
        de_nuke               44
...                          ...
21      de_mirage            543
        de_nuke               97
        de_overpass           49
        de_train              96
        de_vertigo           265

[176 rows x 1 columns]

## Quantidade de HS por NVL

In [10]:
df.groupby(["vlLevel"]).agg({"qtHs": ["sum", "mean"]})

           qtHs
            sum       mean
vlLevel
0          6877   6.506149
1          1019   4.354701
2          2637   3.995455
3         10248   4.457590
4         14208   4.947075
5         20563   5.347984
6         24508   5.740923
7         27899   5.989480
8         38278   6.177857
9         60488   6.598451
10        92324   6.748830
11        81262   6.998708
12        82763   7.297038
13        93017   7.485675
14        92059   7.620147
15       111316   7.838051
16        99539   7.997027
17        98474   8.138347
18       114460   8.352915
19       138246   8.834739
20       182681   9.982023
21        14078  10.397341

## Partes do Corpo Mais Acertadas

In [14]:
playersHit = df[["idPlayer", "qtHitHeadshot", "qtHitChest", "qtHitStomach", "qtHitLeftAtm", "qtHitRightArm", "qtHitLeftLeg", "qtHitRightLeg"]]
playersHit

,idPlayer,qtHitHeadshot,qtHitChest,qtHitStomach,qtHitLeftAtm,qtHitRightArm,qtHitLeftLeg,qtHitRightLeg
0,1,3.0,13.0,4.0,2.0,2.0,1.0,0.0
1,1,7.0,26.0,14.0,2.0,1.0,1.0,3.0
2,2,3.0,15.0,8.0,1.0,2.0,0.0,2.0
3,391,6.0,27.0,10.0,1.0,7.0,6.0,6.0
4,2,8.0,19.0,12.0,2.0,3.0,2.0,5.0
...,...,...,...,...,...,...,...,...
184147,2716,7.0,42.0,26.0,1.0,4.0,6.0,2.0
184148,2716,5.0,21.0,21.0,3.0,7.0,2.0,4.0
184149,2716,3.0,25.0,12.0,1.0,5.0,6.0,7.0
184150,2716,8.0,22.0,16.0,2.0,8.0,3.0,6.0
184151,2716,7.0,17.0,9.0,5.0,4.0,6.0,1.0

In [15]:
playersHit = playersHit.set_index("idPlayer")
playersHit

,qtHitHeadshot,qtHitChest,qtHitStomach,qtHitLeftAtm,qtHitRightArm,qtHitLeftLeg,qtHitRightLeg
idPlayer,,,,,,,
1,3.0,13.0,4.0,2.0,2.0,1.0,0.0
1,7.0,26.0,14.0,2.0,1.0,1.0,3.0
2,3.0,15.0,8.0,1.0,2.0,0.0,2.0
391,6.0,27.0,10.0,1.0,7.0,6.0,6.0
2,8.0,19.0,12.0,2.0,3.0,2.0,5.0
...,...,...,...,...,...,...,...
2716,7.0,42.0,26.0,1.0,4.0,6.0,2.0
2716,5.0,21.0,21.0,3.0,7.0,2.0,4.0
2716,3.0,25.0,12.0,1.0,5.0,6.0,7.0
2716,8.0,22.0,16.0,2.0,8.0,3.0,6.0
2716,7.0,17.0,9.0,5.0,4.0,6.0,1.0